.logo{
	height: 70px;
}
.slide{
	margin-top: 90px;
}
.main-bg{
	background-color: #650003;
}
.button{
  margin-top: 40px;
  padding: 10px 10px;
  width: 150px;
  background-color: #650003;
  border: none;
  color: white;
}
.form{
	width: 500px;
	padding: 5px;
}
.form1{
	margin-top: 80px;
}
.title{
	font-size: 15px;
	color: #650003;
	
}
p{
	font-family: 'Lato', sans-serif;
}
.title1{
color: #650003;
}

.line{
  border-bottom: 3px solid #650003;
  width: 320px;
  margin-left: 70px;
}
.icon{
	margin-left: 220px;
	font-size: 40px;

}
.icons{
	margin-left: 140px;
	border: 1px solid #650003;
	padding: 10px;
	margin-top: -30px;
	border-radius: 50px;
	font-size: 40px;
	background-color: #cdcaca;
}
.event-box{
background-color:rgba(128,0,0,0);
box-shadow: 0px 2px 10px rgba(128,0,0,0.5);
min-height: 350px;
margin-top: 50px;



}

.event-header{

color:black;
text-align:center;
}

.event-text{
  padding-top: 20px;
}
#Membership{
	  background:url(../images/wine1.jpeg);
background-attachment:fixed;
height: 700px;
background-size:cover;
}
.cimg {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  text-align: center; 
  margin-top: -560px;
}

  .text{
  	 margin-left: 120px;
  }
  .text1{
  	margin-top: -200px;
  }
  .slide-text1{
  	margin-top: -250px;
  }
  .video1{
    margin-top: 110px;
  }